<window id="4">
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		
		<include>CommonBackground</include>
		<include>CommonTopBar</include>
		<include>CommonBottomBar</include>
		<!--<include>CommonBackgroundOverlay</include>-->
		<include>HomeButtonCommons</include>
		<include>Time</include>
        <include>BottomNowPLaying</include>
        <include>Logo_dc</include>
      		<control type="group">
			<include>Window_OpenClose_Animation_Slide_Down</include>
			<posx>500r</posx>
			<posy>0</posy>
			<visible>!Window.IsActive(PlayerControls)</visible>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Update button</description>
				<posx>305r</posx>
				<posy>4</posy>
				<width>300</width>
				<height>100</height>
				<font>-</font>
				<texturenofocus border="5">floor_button.png</texturenofocus>
				<texturefocus border="5">floor_buttonfo.png</texturefocus>
				<onclick>RunScript("special://skin/scripts/update-xbmc.py")</onclick>
			</control>
			<control type="label">
				<description>System Update</description>
				<posx>305r</posx>
				<posy>3</posy>
				<height>100</height>
				<width>300</width>
				<label>System Update</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font30_title</font>
				<textcolor>FFFFFFF0</textcolor>	
			</control>
		</control>

        <!--Big buttons-->

        <control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>220</posx>
			<posy>118</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Appearance</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>612</width>
				<height>164</height>
				<font>-</font>
				<texturenofocus >settings_l.png</texturenofocus>
				<texturefocus>settings_l_p.png</texturefocus>
				<onclick>ActivateWindow(AppearanceSettings)</onclick>
			</control>
			<control type="image">
				<description>Appearance</description>
				<posx>50</posx>
				<posy>30</posy>
				<width>100</width>
				<height>100</height>
				<texture>icon_big_appearence.png</texture>
			</control>
			<control type="label">
				<description>Appearance</description>
				<posx>150</posx>
				<posy>0</posy>
				<height>150</height>
				<width>400</width>
				<label>Appearance</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font50_title</font>
				<textcolor>FFFFFFF0</textcolor>		
			</control>
		</control>
		
		<control type="group">
		    <include>Window_OpenClose_Animation_Zoom</include>
			<posx>220</posx>
			<posy>298</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Music</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>612</width>
				<height>164</height>
				<font>-</font>
				<texturenofocus >settings_l.png</texturenofocus>
				<texturefocus>settings_l_p.png</texturefocus>
				<onclick>ActivateWindow(MusicSettings)</onclick>
			</control>
			<control type="image">
				<description>Music</description>
				<posx>50</posx>
				<posy>30</posy>
				<width>100</width>
				<height>100</height>
				<texture>icon_big_music.png</texture>
			</control>
			<control type="label">
				<description>Music</description>
				<posx>150</posx>
				<posy>0</posy>
				<height>150</height>
				<width>400</width>
				<label>Music</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font50_title</font>
				<textcolor>FFFFFFF0</textcolor>		
			</control>
		</control>
		
		<control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>220</posx>
			<posy>478</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Weather</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>612</width>
				<height>164</height>
				<font>-</font>
				<texturenofocus >settings_l.png</texturenofocus>
				<texturefocus>settings_l_p.png</texturefocus>
				<onclick>ActivateWindow(WeatherSettings)</onclick>
			</control>
			<control type="image">
				<description>Weather</description>
				<posx>50</posx>
				<posy>30</posy>
				<width>100</width>
				<height>100</height>
				<texture>icon_big_weather.png</texture>
			</control>
			<control type="label">
				<description>Weather</description>
				<posx>150</posx>
				<posy>0</posy>
				<height>150</height>
				<width>400</width>
				<label>Weather</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font50_title</font>
				<textcolor>FFFFFFF0</textcolor>		
			</control>
		</control>
		
		<control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>220</posx>
			<posy>658</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Services</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>612</width>
				<height>164</height>
				<font>-</font>
				<texturenofocus >settings_l.png</texturenofocus>
				<texturefocus>settings_l_p.png</texturefocus>
				<onclick>ActivateWindow(ServiceSettings)</onclick>
			</control>
			<control type="image">
				<description>Services</description>
				<posx>50</posx>
				<posy>30</posy>
				<width>100</width>
				<height>100</height>
				<texture>icon_big_network.png</texture>
			</control>
			<control type="label">
				<description>Services</description>
				<posx>150</posx>
				<posy>0</posy>
				<height>150</height>
				<width>400</width>
				<label>Services</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font50_title</font>
				<textcolor>FFFFFFF0</textcolor>		
			</control>
		</control>

        <control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>870</posx>
			<posy>118</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Video</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>612</width>
				<height>166</height>
				<font>-</font>
				<texturenofocus >settings_r.png</texturenofocus>
				<texturefocus>settings_r_p.png</texturefocus>
				<onclick>ActivateWindow(VideosSettings)</onclick>
			</control>
			<control type="image">
				<description>Video</description>
				<posx>450</posx>
				<posy>30</posy>
				<width>100</width>
				<height>100</height>
				<texture>icon_big_video.png</texture>
			</control>
			<control type="label">
				<description>Video</description>
				<posx>50</posx>
				<posy>0</posy>
				<height>150</height>
				<width>400</width>
				<label>Video</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font50_title</font>
				<textcolor>FFFFFFF0</textcolor>		
			</control>
		</control>
		
		<control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>870</posx>
			<posy>298</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Pictures</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>612</width>
				<height>166</height>
				<font>-</font>
				<texturenofocus >settings_r.png</texturenofocus>
				<texturefocus>settings_r_p.png</texturefocus>
				<onclick>ActivateWindow(PicturesSettings)</onclick>
			</control>
			<control type="image">
				<description>Pictures</description>
				<posx>450</posx>
				<posy>30</posy>
				<width>100</width>
				<height>100</height>
				<texture>icon_big_pictures.png</texture>
			</control>
			<control type="label">
				<description>Pictures</description>
				<posx>50</posx>
				<posy>0</posy>
				<height>150</height>
				<width>400</width>
				<label>Pictures</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font50_title</font>
				<textcolor>FFFFFFF0</textcolor>		
			</control>
		</control>
		
		<control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>870</posx>
			<posy>478</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>Add-ons</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>612</width>
				<height>166</height>
				<font>-</font>
				<texturenofocus >settings_r.png</texturenofocus>
				<texturefocus>settings_r_p.png</texturefocus>
				<onclick>ActivateWindow(AddonBrowser)</onclick>
			</control>
			<control type="image">
				<description>Add-ons</description>
				<posx>450</posx>
				<posy>30</posy>
				<width>100</width>
				<height>100</height>
				<texture>icon_big_addons.png</texture>
			</control>
			<control type="label">
				<description>Add-ons</description>
				<posx>50</posx>
				<posy>0</posy>
				<height>150</height>
				<width>400</width>
				<label>Add-ons</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font50_title</font>
				<textcolor>FFFFFFF0</textcolor>		
			</control>
		</control>
		
		<control type="group">
		<include>Window_OpenClose_Animation_Zoom</include>
			<posx>870</posx>
			<posy>658</posy>
			<include>VisibleFadeEffect</include>
			<control type="button">
				<description>System</description>
				<posx>0</posx>
				<posy>0</posy>
				<width>612</width>
				<height>166</height>
				<font>-</font>
				<texturenofocus >settings_r.png</texturenofocus>
				<texturefocus>settings_r_p.png</texturefocus>
				<onclick>ActivateWindow(SystemSettings)</onclick>
			</control>
			<control type="image">
				<description>System</description>
				<posx>450</posx>
				<posy>30</posy>
				<width>100</width>
				<height>100</height>
				<texture>icon_big_system.png</texture>
			</control>
			<control type="label">
				<description>System</description>
				<posx>50</posx>
				<posy>0</posy>
				<height>150</height>
				<width>400</width>
				<label>System</label>
				<align>center</align>
				<aligny>center</aligny>
				<font>font50_title</font>
				<textcolor>FFFFFFF0</textcolor>		
			</control>
		</control>

		<control type="label">
			<description>Window label</description>
			<include>MediaWindowTitleCommons</include>
			<label>$LOCALIZE[5]</label>
		</control>
		<control type="panel" id="9002">
			<visible>!Window.IsActive(PlayerControls)</visible>
			<include>VisibleFadeEffect</include>
			<include>SubMenuCommonLayout</include>
			<content>
				<!--<item>
					<label></label>
					<onclick>ReloadSkin</onclick>
					<icon>icon_refresh_w.png</icon>
				</item>-->
				<!--<item>
					<label>13200</label>
					<onclick>ActivateWindow(Profiles)</onclick>
					<icon>icon_profile_w.png</icon>
				</item>-->
				<!--<item>
					<label>20077</label>
					<onclick>ActivateWindow(1113)</onclick>
					<icon>icon_skin_w.png</icon>
				</item>-->
				<item>
					<label>130</label>
					<onclick>ActivateWindow(SystemInfo)</onclick>
					<icon>icon_systeminfo_w.png</icon>
				</item>
				<item>
					<label>31200</label>
					<onclick>Back</onclick>
					<icon>icon_back_w.png</icon>
				</item>
			</content>
		</control>
		
		<include>BehindDialogFadeOut</include>
	</controls>
</window>
